* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-family: "Nunito", sans-serif;
  --color-black: #000;
  --color-red: red;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}

.container {
  width: 650px;
  display: flex;
  justify-content: center;
}

.header {
  background-color: #456cbb;
  display: flex;
  align-items: center;
}

.navbar {
  width: 100%;
  padding: 0 1.5rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title h1 {
  font-size: 32px;
  font-weight: 400;
  color: var(--color-black);
}

.navigation-items {
  display: flex;
}

.navigation-items__item {
  margin: 0 0.8rem;
}

.navigation-items__link.active {
  font-weight: bold;
}

.navigation-items__item a {
  font-size: 20px;
  color: var(--color-black);
}

.cart {
  padding: 0 1.5rem;
  background-color: #f97500;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-plus-circle {
  height: 40px;
}

.cart__text {
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: 300;
}
