* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-family: "Nunito", sans-serif;
  --color-black: #000;
  --color-red: red;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}

.container {
  width: 650px;
  display: flex;
  justify-content: center;
}

.header {
  background-color: #456cbb;
  display: flex;
  align-items: center;
}

.navbar {
  width: 100%;
  padding: 0 1.5rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-title h1 {
  font-size: 32px;
  font-weight: 400;
  color: var(--color-black);
}

.navigation-items {
  display: flex;
}

.navigation-items__item {
  margin: 0 0.8rem;
}

.item-text {
  font-size: 28px;
  font-weight: 300;
  margin-right: 3rem;
}

.label-text,
label {
  font-size: 28px;
  font-weight: 300;
}

.navigation-items__link.active {
  font-weight: bold;
}

.navigation-items__item a {
  font-size: 20px;
  color: var(--color-black);
}

.cart {
  padding: 0 1.5rem;
  background-color: #f97500;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-plus-circle {
  height: 40px;
}

.cart__text {
  letter-spacing: 1px;
  font-size: 32px;
  font-weight: 300;
}

.articles {
  height: 100vh;
  position: relative;
  background-color: #ff8d26;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.articles-items {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  width: calc(100% - 1.7rem);
}

.articles-items__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5rem; */
}

.text-container {
  display: flex;
  align-items: center;
}

.item-text {
  margin-left: 2rem;
}

/* CHECKBOX */

.form-group {
  display: block;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content: "";
  background-color: #fff;
  border: 2px solid #eee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.articles-total__price {
  margin-top: 1rem;
  font-size: 28px;
  font-weight: 300;
  margin-left: 32.3rem;
  width: calc(100% - 1.7rem);
}
